.Xauthority
.bash_history
.bash_logout
.cache/
.cargo/
.config/.gitignore
.config/.vimrc
.config/JetBrains/
.config/dolphinrc
.config/elisarc
.config/go/
.config/htop/
.config/kdeglobals
.config/kglobalshortcutsrc
.config/konsolerc
.config/kritadisplayrc
.config/kritarc
.config/kwinrc
.config/kwinrulesrc
.config/plasma-nm
.config/unity3d/
.dotnet/
.face
.face.icon
.git-credentials
.gitconfig
.gnome/
.gtkrc-2.0
.icons/
.java/
.kde/
.lesshst
.local/
.minecraft/
.mono/
.nuget/
.pki/
.profile
.python_history
.snap/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.var/
.viminfo
.vscode/
.wget-hsts
.xsession-errors
Desktop/
Documents/
Downloads/
Pictures/
Videos/
VirtualBox VMs/
go/
snap/
sudo
vscode-cpptools/
